<template>
  <div id="app">
    <!-- <AccessDeniedPage v-if="!store.state.user.loggedIn"/> -->
    <LandingPage />
  </div>
</template>

<script>
// import Vue from "vue"
import store from "@/store";
import LandingPage from "@/views/LandingPage.vue";


export default {
  name: "App",
  components: {
    LandingPage,
  },
  data: function() {
    return {
      store: store,
    };
  },
};
</script>

<style lang="sass"></style>
